<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' itemscope='itemscope' itemtype='http://schema.org/Product'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta http-equiv='Content-type' content='text/html;charset=UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='keywords' content='交大吃吃,吃吃,上海交通大学,饮食管理委员会,美食'>
    <meta name='author' content='交大吃吃信息中心'>
    <meta name='copyright' content='©2013 交大吃吃'>
    <title>{% block title %}{% endblock %}</title>
    <link href='/assets/img/icons/favicon.ico?v=2' rel='shortcut icon' type='image/x-icon'>
    <link href="/assets/css/base.css" type="text/css">

</head>
<body>
<script>window.jQuery || document.write('<script src="/assets/js/libs/jquery/jquery-1.10.2.min.js"><\/script>')</script>
<script type="text/javascript" src="/assets/js/libs/angular/angular.min.js"></script>
<script type="text/javascript" src="/assets/js/libs/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/assets/js/libs/angular-resource/angular-resource.min.js"></script>
</body>
</html>
