{% extends "includes/base.html" %}
{% block title %}吃吃 | SJTU{% endblock %}

{% block body %}
    {% include "includes/nav.html" %}
    <div class="g-r fw-wrapper">
        {% include "includes/cover.html" %}
        <section class="u-2-3 wd-wrapper" tabindex="-1">
            <div class="wd-main"></div>
        </section>
    </div>
{% endblock %}

{% block js-before-ng %}
<script type="text/javascript" src="/assets/js/app/nav.js"></script>
<script type="text/javascript">
    new NvMenu(document.getElementById('nv-menu'), {});
</script>
{% endblock %}

{% verbatim %}
{% endverbatim %}
